.userContainer {
    display: grid;
    grid-template-areas: 'avatar name button' 'avatar status button';
    grid-template-columns: 150px 400px auto;
    border: 2px solid #c68bcb;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-items: center;
}

.userAvatar {
    grid-area: avatar;
    margin-top: 5px;
}

.userAvatarPicture {
    border-radius: 100px;
    border: 2px solid #c68bcb;
    box-shadow: 0 0 7px #666;
}

.userName {
    grid-area: name;
}

.userStatus {
    grid-area: status;
    color: #c68bcb;
}

.userFollowUnfollowButton {
    grid-area: button;
}